<nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
			<a class="navbar-brand" href="?"><i class="las la-video" style="font-size: 2rem;vertical-align: bottom;"></i> Системные таймеры</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=6978#p115582" target="_blank" style="color: #ff4f67;"><img src="/templates/system_timers/img/like.png" style="width: 19px;vertical-align: sub;"> Нравится? Ставь лайк!</a></li>
			<li><a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=6978&p=115590#p115582" target="_blank">Обсуждение на форуме</a></li>
		</ul>
	  </div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
<div class="form-group" style="margin-right: 5px; margin-left: 5px;">
	<table class="table table-stripped" style="font-size: 1.2rem;">
		<thead><tr>
			<th>ID</th>
			<th>Имя</th>
			<th>Команда</th>
			<th>Статус</th>
			<th>Последний запуск</th>
			<th>Осталось</th>
			<th>Управление</th>
		</tr></thead>
		<tbody>
	   [#begin ALLTIMERS#]
		<script>
		$(document).ready(function(){
			var timerBlock = $('#timerTimeID_[#ID#]');
			var num = [#TIMEREXISTS#];

			var index = num;
			var timerId = setInterval(function() {
			  timerBlock.html(--index);
			}, 1000);

			setTimeout(function() {
			  clearInterval(timerId);
			}, num*1000);
		});
		</script>
	   <tr>
		  <td valign="middle" style="vertical-align: middle;width: 15%;">[#ID#]</td>
		  <td valign="middle" style="vertical-align: middle;">[#TITLE#]</td>
		  <td valign="middle" style="vertical-align: middle;">[#COMMANDS#]</td>
		  <td valign="middle" style="vertical-align: middle;">[#PROCESSED#]</td>
		  <td valign="middle" style="vertical-align: middle;">[#STARTED#]</td>
		  <td valign="middle" style="vertical-align: middle;"><span id="timerTimeID_[#ID#]">[#TIMEREXISTS#]</span> сек.</td>
		  <td valign="middle" style="vertical-align: middle;"><button type="button" class="btn btn-sm btn-default" onclick="$('.insertTimerName').text('[#TITLE#]');$('#modalCodeCopy').modal('show');">Код для вставки</button></td>
	   </tr>
	   [#end ALLTIMERS#]
	   </tbody>
	</table> 
</div> 

<div id="modalCodeCopy" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Код для использования</h4>
			</div>
			<div class="modal-body">
				Используйте следующий код для вставки в сцена или меню:
				<div style="margin-top: 10px;background-color: #f9f2f4;padding: 10px;border-radius: 10px;border: 1px solid #f1acac;font-size: 1.3rem;color: #c7254e;" id="codeModal">
					[ #module name="system_timers" mode="<span class="insertTimerName"></span>"#]
				</div>
				<p style="margin-top: 10px;font-size: 1rem;border: 1px dotted red;padding: 7px;border-radius: 10px;">
				<span style="font-weight: bold;font-size: 1.1rem;">* Не забудьте убрать пробел в начале: [ #module name= иначе работать не будет!</span><br><br>
				Так же, вы можете добавить параметры в view_mode="ajax=5;time=m;textToEnd=Все помер таймер":<br>
				<b>ajax=5</b> - каждые 5 секунд будет отправляться AJAX для того, чтобы узнать статус таймера<br>
				<b>time=m</b> - time= может принимать:s - только секунды; h - только минуты; h:m:s - часы, минуты, секунды; m:s - минуты, секунды; h:m - часы, минуты<br>
				<b>textToEnd=Все помер таймер</b> - Текст, который будет выведен после завершения отсчета<br>
				<b>wait=1</b> - Ждать пока таймер снова появится и если это произойдет, скрипт начнет отсчет без перезагрузки страницы. Обязателен параметр ajax=?
				</p>
				<div style="margin-top: 10px;background-color: #f9f2f4;padding: 10px;border-radius: 10px;border: 1px solid #f1acac;font-size: 1.3rem;color: #c7254e;" id="codeModalAdd">
					[ #module name="system_timers" mode="<span class="insertTimerName"></span>" view_mode="ajax=5;time=h:m:s;wait=1;texttoend=БУМ!"#]
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 40px;">
	<div class="col-md-12" style="text-align: center;border-top: 1px solid #e7e7e7;padding-top: 15px;font-size: 1rem;color: gray;">
		Версия модуля: <i class="las la-code-branch" style="vertical-align: middle;"></i> v.[#VERSION_MODULE#] | Проект доступен на <a href="https://github.com/SmoKE585/majordomo_system_timers" target="_blank"><i class="lab la-github"></i> GitHub</a> | Автор: Александр SmoKE xD Аболмасов
	</div>
</div>