[#if TIMEREXISTS_AJAX!=''#]
--TIME_AJAX--[#TIMEREXISTS_AJAX#]--TIME_AJAX--
[#endif#]
[#if TIMEREXISTS!=''#]
<script>
$(document).ready(function(){
	//Блок с таймером
	var timerBlock = $('#timerTimeID_[#TIMEREXISTS_ID#]');
	//Сколько нужно секунд
	var num = [#if TIMEREXISTS=='Таймер сейчас не активен'#]0[#else#][#TIMEREXISTS#][#endif#];
	//Переменная для отсчета
	var index = num;

	[#if SET_AJAX!=''#]
	var timerAjax = setInterval(function() {
		$.ajax({
			url: '/module/system_timers.html?type=ajax&timerName=[#TIMEREXISTS_NAME#]',
			success: function(data) {
				explodeTrashMJDM = data.split('--TIME_AJAX--');
				
				if($('#timerTimeID_[#TIMEREXISTS_ID#]').text() == '[#SET_TEXTTOEND#]') {
					$('#timerTimeID_[#TIMEREXISTS_ID#]').html(explodeTrashMJDM[1]);
				}
				num = explodeTrashMJDM[1];
				index = explodeTrashMJDM[1];
			}
		});
	}, [#SET_AJAX#]000);
	[#endif#]
	
	var timerId = setInterval(function() {
		[#if SET_TIME!=''#]
			[#if SET_TIME=='s'#]
				if(index >= 0) {
					timerBlock.html(--index);
				} else {
					timerBlock.html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='m'#]
				if(index >= 0) {
					timerBlock.html(Math.round(--index/60));
				} else {
					timerBlock.html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='h:m:s'#]
				timeToEnd = --index;
				sec = timeToEnd;
				days = Math.floor(sec/60/60/24);
				sec -= days*24*60*60;
				hours = Math.floor(sec/60/60);
				sec -= hours*60*60;
				min = Math.floor(sec/60);
				sec -= min*60;
				if(hours <= 9) hours = '0' + hours;
				if(min <= 9) min = '0' + min;
				if(sec <= 9) sec = '0' + sec;
				
				if(index >= 0) {
					timerBlock.html(hours + ':' + min + ':' + sec);
				} else {
					timerBlock.html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='m:s'#]
				timeToEnd = --index;
				sec = timeToEnd;
				days = Math.floor(sec/60/60/24);
				sec -= days*24*60*60;
				hours = Math.floor(sec/60/60);
				sec -= hours*60*60;
				min = Math.floor(sec/60);
				sec -= min*60;
				if(hours <= 9) hours = '0' + hours;
				if(min <= 9) min = '0' + min;
				if(sec <= 9) sec = '0' + sec;
				
				if(index >= 0) {
					timerBlock.html(min + ':' + sec);
				} else {
					timerBlock.html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='h:m'#]
				timeToEnd = --index;
				sec = timeToEnd;
				days = Math.floor(sec/60/60/24);
				sec -= days*24*60*60;
				hours = Math.floor(sec/60/60);
				sec -= hours*60*60;
				min = Math.floor(sec/60);
				sec -= min*60;
				if(hours <= 9) hours = '0' + hours;
				if(min <= 9) min = '0' + min;
				if(sec <= 9) sec = '0' + sec;
				
				if(index >= 1) {
					timerBlock.html(hours + ':' + min);
				} else {
					timerBlock.html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='d h:m:s'#]
				timeToEnd = --index;
				sec = timeToEnd;
				days = Math.floor(sec/60/60/24);
				sec -= days*24*60*60;
				hours = Math.floor(sec/60/60);
				sec -= hours*60*60;
				min = Math.floor(sec/60);
				sec -= min*60;
				if(hours <= 9) hours = '0' + hours;
				if(min <= 9) min = '0' + min;
				if(sec <= 9) sec = '0' + sec;
				
				if(index >= 1) {
					timerBlock.html(days + ' ' + hours + ':' + min + ':' + sec);
				} else {
					timerBlock.html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
		[#else#]
			if(index >= 0) { 
				timerBlock.html(--index);
			} else {
				timerBlock.html('[#SET_TEXTTOEND#]');
			}
		[#endif#]
	}, 1000);

	setTimeout(function() {
		//clearInterval(timerId);
		[#if SET_WAIT!=1#]clearInterval(timerAjax);[#endif#]
	}, num*1000);
});
</script>
<span id="timerTimeID_[#TIMEREXISTS_ID#]">[#if TIMEREXISTS=='Таймер сейчас не активен'#]0[#else#][#TIMEREXISTS#][#endif#]</span>
[#endif#]