[#if TIMEREXISTS_AJAX!=''#]
--TIME_AJAX--[#TIMEREXISTS_AJAX#]--TIME_AJAX--
[#endif#]
[#if TIMEREXISTS!=''#]
<script>
$(document).ready(function(){
	//Блок с таймером
	var timerBlock_ID[#TIMEREXISTS_ID#] = $('#timerTimeID_[#TIMEREXISTS_ID#]');
	//Сколько нужно секунд
	var num_ID[#TIMEREXISTS_ID#] = [#if TIMEREXISTS=='Таймер сейчас не активен'#]0[#else#][#TIMEREXISTS#][#endif#];
	//Переменная для отсчета
	var index_ID[#TIMEREXISTS_ID#] = num_ID[#TIMEREXISTS_ID#];

	[#if SET_AJAX!=''#]
	var timerAjax_ID[#TIMEREXISTS_ID#] = setInterval(function() {
		$.ajax({
			url: '/module/system_timers.html?type=ajax&timerName=[#TIMEREXISTS_NAME#]',
			success: function(data_ID[#TIMEREXISTS_ID#]) {
				explodeTrashMJDM_ID[#TIMEREXISTS_ID#] = data_ID[#TIMEREXISTS_ID#].split('--TIME_AJAX--');
				
				if($('#timerTimeID_[#TIMEREXISTS_ID#]').text() == '[#SET_TEXTTOEND#]') {
					$('#timerTimeID_[#TIMEREXISTS_ID#]').html(explodeTrashMJDM_ID[#TIMEREXISTS_ID#][1]);
				}
				num_ID[#TIMEREXISTS_ID#] = explodeTrashMJDM_ID[#TIMEREXISTS_ID#][1];
				index_ID[#TIMEREXISTS_ID#] = explodeTrashMJDM_ID[#TIMEREXISTS_ID#][1];
			}
		});
	}, [#SET_AJAX#]000);
	[#endif#]
	
	var timerId_ID[#TIMEREXISTS_ID#] = setInterval(function() {
		[#if SET_TIME!=''#]
			[#if SET_TIME=='s'#]
				if(index_ID[#TIMEREXISTS_ID#] >= 0) {
					timerBlock_ID[#TIMEREXISTS_ID#].html(--index_ID[#TIMEREXISTS_ID#]);
				} else {
					timerBlock_ID[#TIMEREXISTS_ID#].html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='m'#]
				if(index_ID[#TIMEREXISTS_ID#] >= 0) {
					timerBlock_ID[#TIMEREXISTS_ID#].html(Math.round(--index_ID[#TIMEREXISTS_ID#]/60));
				} else {
					timerBlock_ID[#TIMEREXISTS_ID#].html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='h:m:s'#]
				timeToEnd_ID[#TIMEREXISTS_ID#] = --index_ID[#TIMEREXISTS_ID#];
				sec_ID[#TIMEREXISTS_ID#] = timeToEnd_ID[#TIMEREXISTS_ID#];
				days_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60/24);
				sec_ID[#TIMEREXISTS_ID#] -= days_ID[#TIMEREXISTS_ID#]*24*60*60;
				hours_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60);
				sec_ID[#TIMEREXISTS_ID#] -= hours_ID[#TIMEREXISTS_ID#]*60*60;
				min_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60);
				sec_ID[#TIMEREXISTS_ID#] -= min_ID[#TIMEREXISTS_ID#]*60;
				if(hours_ID[#TIMEREXISTS_ID#] <= 9) hours_ID[#TIMEREXISTS_ID#] = '0' + hours_ID[#TIMEREXISTS_ID#];
				if(min_ID[#TIMEREXISTS_ID#] <= 9) min_ID[#TIMEREXISTS_ID#] = '0' + min_ID[#TIMEREXISTS_ID#];
				if(sec_ID[#TIMEREXISTS_ID#] <= 9) sec_ID[#TIMEREXISTS_ID#] = '0' + sec_ID[#TIMEREXISTS_ID#];
				
				if(index_ID[#TIMEREXISTS_ID#] >= 0) {
					timerBlock_ID[#TIMEREXISTS_ID#].html(hours_ID[#TIMEREXISTS_ID#] + ':' + min_ID[#TIMEREXISTS_ID#] + ':' + sec_ID[#TIMEREXISTS_ID#]);
				} else {
					timerBlock_ID[#TIMEREXISTS_ID#].html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='m:s'#]
				timeToEnd_ID[#TIMEREXISTS_ID#] = --index_ID[#TIMEREXISTS_ID#];
				sec_ID[#TIMEREXISTS_ID#] = timeToEnd_ID[#TIMEREXISTS_ID#];
				days_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60/24);
				sec_ID[#TIMEREXISTS_ID#] -= days_ID[#TIMEREXISTS_ID#]*24*60*60;
				hours_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60);
				sec_ID[#TIMEREXISTS_ID#] -= hours_ID[#TIMEREXISTS_ID#]*60*60;
				min_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60);
				sec_ID[#TIMEREXISTS_ID#] -= min_ID[#TIMEREXISTS_ID#]*60;
				if(hours_ID[#TIMEREXISTS_ID#] <= 9) hours_ID[#TIMEREXISTS_ID#] = '0' + hours_ID[#TIMEREXISTS_ID#];
				if(min_ID[#TIMEREXISTS_ID#] <= 9) min_ID[#TIMEREXISTS_ID#] = '0' + min_ID[#TIMEREXISTS_ID#];
				if(sec_ID[#TIMEREXISTS_ID#] <= 9) sec_ID[#TIMEREXISTS_ID#] = '0' + sec_ID[#TIMEREXISTS_ID#];
				
				if(index_ID[#TIMEREXISTS_ID#] >= 0) {
					timerBlock_ID[#TIMEREXISTS_ID#].html(min_ID[#TIMEREXISTS_ID#] + ':' + sec_ID[#TIMEREXISTS_ID#]);
				} else {
					timerBlock_ID[#TIMEREXISTS_ID#].html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='h:m'#]
				timeToEnd_ID[#TIMEREXISTS_ID#] = --index_ID[#TIMEREXISTS_ID#];
				sec_ID[#TIMEREXISTS_ID#] = timeToEnd_ID[#TIMEREXISTS_ID#];
				days_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60/24);
				sec_ID[#TIMEREXISTS_ID#] -= days_ID[#TIMEREXISTS_ID#]*24*60*60;
				hours_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60);
				sec_ID[#TIMEREXISTS_ID#] -= hours_ID[#TIMEREXISTS_ID#]*60*60;
				min_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60);
				sec_ID[#TIMEREXISTS_ID#] -= min_ID[#TIMEREXISTS_ID#]*60;
				if(hours_ID[#TIMEREXISTS_ID#] <= 9) hours_ID[#TIMEREXISTS_ID#] = '0' + hours_ID[#TIMEREXISTS_ID#];
				if(min_ID[#TIMEREXISTS_ID#] <= 9) min_ID[#TIMEREXISTS_ID#] = '0' + min_ID[#TIMEREXISTS_ID#];
				if(sec_ID[#TIMEREXISTS_ID#] <= 9) sec_ID[#TIMEREXISTS_ID#] = '0' + sec_ID[#TIMEREXISTS_ID#];
				
				if(index_ID[#TIMEREXISTS_ID#] >= 1) {
					timerBlock_ID[#TIMEREXISTS_ID#].html(hours_ID[#TIMEREXISTS_ID#] + ':' + min_ID[#TIMEREXISTS_ID#]);
				} else {
					timerBlock_ID[#TIMEREXISTS_ID#].html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
			[#if SET_TIME=='d h:m:s'#]
				timeToEnd_ID[#TIMEREXISTS_ID#] = --index_ID[#TIMEREXISTS_ID#];
				sec_ID[#TIMEREXISTS_ID#] = timeToEnd_ID[#TIMEREXISTS_ID#];
				days_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60/24);
				sec_ID[#TIMEREXISTS_ID#] -= days_ID[#TIMEREXISTS_ID#]*24*60*60;
				hours_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60/60);
				sec_ID[#TIMEREXISTS_ID#] -= hours_ID[#TIMEREXISTS_ID#]*60*60;
				min_ID[#TIMEREXISTS_ID#] = Math.floor(sec_ID[#TIMEREXISTS_ID#]/60);
				sec_ID[#TIMEREXISTS_ID#] -= min_ID[#TIMEREXISTS_ID#]*60;
				if(hours_ID[#TIMEREXISTS_ID#] <= 9) hours_ID[#TIMEREXISTS_ID#] = '0' + hours_ID[#TIMEREXISTS_ID#];
				if(min_ID[#TIMEREXISTS_ID#] <= 9) min_ID[#TIMEREXISTS_ID#] = '0' + min_ID[#TIMEREXISTS_ID#];
				if(sec_ID[#TIMEREXISTS_ID#] <= 9) sec_ID[#TIMEREXISTS_ID#] = '0' + sec_ID[#TIMEREXISTS_ID#];
				
				if(index_ID[#TIMEREXISTS_ID#] >= 1) {
					if(days_ID[#TIMEREXISTS_ID#] != '') days_with = days_ID[#TIMEREXISTS_ID#] + ' д. ';
					timerBlock_ID[#TIMEREXISTS_ID#].html(days_with + hours_ID[#TIMEREXISTS_ID#] + ':' + min_ID[#TIMEREXISTS_ID#] + ':' + sec_ID[#TIMEREXISTS_ID#]);
				} else {
					timerBlock_ID[#TIMEREXISTS_ID#].html('[#SET_TEXTTOEND#]');
				}
			[#endif#]
		[#else#]
			if(index_ID[#TIMEREXISTS_ID#] >= 0) { 
				timerBlock_ID[#TIMEREXISTS_ID#].html(--index_ID[#TIMEREXISTS_ID#]);
			} else {
				timerBlock_ID[#TIMEREXISTS_ID#].html('[#SET_TEXTTOEND#]');
			}
		[#endif#]
	}, 1000);

	setTimeout(function() {
		//clearInterval(timerId);
		[#if SET_WAIT!=1#]clearInterval(timerAjax_ID[#TIMEREXISTS_ID#]);[#endif#]
	}, num_ID[#TIMEREXISTS_ID#]*1000);
});
</script>
<span id="timerTimeID_[#TIMEREXISTS_ID#]">[#if TIMEREXISTS=='Таймер сейчас не активен'#]0[#else#][#TIMEREXISTS#][#endif#]</span>
[#endif#]